p{
    color:white;
}
        
h1{
    color: white; font-size: 100px;
}

h2 {
    color:white; font-size: 45px;
}

body{
    font-size: 20px;
    background-image: url(https://i.redd.it/nok4cs22es851.png);
    background-size: cover;
}

footer {
    color: black;
}





  @media screen and (max-width: 768px) {
    section {
      padding: 30px 15px;
    }
  }
  @media screen and (max-width: 768px) {

    section {
      padding: 30px 15px;
    }
  
    .step h3 {
      flex: 1 100%;
      text-align: center;
    }
  
    .step-info {
      flex: 2 100%;
      text-align: center;
      justify-content: center;
    }
  
    .step-img {
      flex: 0 32%;
      margin-right: 0;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  
    .step-text {
      flex: 100%;  
    }
  
  }


.flexcontainer {
    display: flex;
    justify-content: space-between;
    color:whitesmoke
}
