<style>
        p {
        background-image:url ('https://cdn.getyourguide.com/img/location/5e903a40c7279.jpeg/88.jpg');
        }
        </style>
        
header h1 {
    font-weight: bold;
    font-family: "Public Sans", Verdana, sans-serif;
	font-size: 18px;
	color: white;
  }
  @media screen and (max-width: 768px) {
    section {
      padding: 30px 15px;
    }
  }
  @media screen and (max-width: 768px) {

    section {
      padding: 30px 15px;
    }
  
    .step h3 {
      flex: 1 100%;
      text-align: center;
    }
  
    .step-info {
      flex: 2 100%;
      text-align: center;
      justify-content: center;
    }
  
    .step-img {
      flex: 0 32%;
      margin-right: 0;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  
    .step-text {
      flex: 100%;  
    }
  
  }











.flexcontainer {
    display: flex;
    justify-content: space-between;
}